.footer {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  box-shadow: #fc6b6b 0px 0px 15px;
}

.cartCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd0b0b;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  position: absolute;
  top: -10px;
  right: -10px;
  box-shadow: #fc6b6b 0px 0px 15px;
}
